PORT=8080

DATABASE_URL=postgres://postgres:postgres@localhost:5432/go_eventos?sslmode=disable

DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=5

JWT_SECRET=troque-esta-chave-por-uma-secreta-com-no-minimo-32-caracteres

LOG_LEVEL=info
LOG_OUTPUT=logs.json
